.image__preview-wrap {
  width: 130px;
  height: 140px;
  overflow: hidden;
  position: relative;
}
.image__preview-img {
  display: none;
  width: 100%;
  border-radius: 0.25rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 140px;
  object-fit: cover;
}

.image__preview-text {
  color: rgb(210, 200, 200);
  font-weight: bold;
}

td .badge {
  cursor: pointer;
}
td .badge a {
  background-color: transparent;
  text-decoration: none;
  color:#ffffff
}

table.dataTable tbody tr {
    background-color: #ffffff;
    border-bottom-color: #ddd;
}

.dataTables_filter {
  margin-bottom: 21px;
}

td img {
    width: 36px;
    height: 43px;
    object-fit: cover;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px ;
}

.detail {
  min-height: 500px;
}

.detail img {
  height: 100%;
} 

.pagination li {
  cursor: pointer;
}

.table-list {
  height: 64vh;

}

@media (max-width: 768px) {
  .table-list {
    height: auto;
  }
}

.btn-off {
  cursor: not-allowed!important;
  background-color: rgb(227, 140, 94);
  
}



